<div class="col-md-3 col-lg-3"></div>
<div class="col-md-6 col-lg-6">
    <div class="center">
        <h3 class="middle">Типы хранилищ</h3>
    </div>
    <div>
        <div class="row" ng-controller="TypeOfStoragePlaceController">
            <div class="control-menu col-lg-2">
                <button type="button" class="no-border-button btn btn-success"
                        data-ng-click="TypeOfStoragePlaceAddClick()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить
                </button>
            </div>
            <table ng-table="table" class="table up table-condensed table-bordered table-striped">
                <tr ng-repeat="row in $data">
                    <td title="'Наименование типа'" filter="{ name: 'text'}"
                        sortable="'name'">
                        <span class="td-modal" data-ng-click="TypeOfStoragePlaceTrClick(row)">{{row.name}}</span>
                        <button type="button" class="no-border-button btn btn-danger btn-xs pull-right"
                                data-ng-click="TypeOfStoragePlaceDeleteClick(row)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="col-md-3 col-lg-3"></div>
<script type="text/ng-template" id="typeOfStoragePlaceEditView.html">

    <div class="modal-header">
        <h3 class="modal-title">Добавить/Изменить тип хранилища</h3>
    </div>
    <div class="modal-body">
        <form name="typeOfStoragePlace">
            <div class="form-group"
                 ng-class="{ 'has-error' : typeOfStoragePlace.typeOfStoragePlaceName.$invalid && !typeOfStoragePlace.typeOfStoragePlaceName.$pristine }">
                <label>Наименование</label>
                <input type="text" class="form-control" id="typeOfStoragePlaceName" name="typeOfStoragePlaceName"
                       ng-model="typeOfStoragePlaceNewEdit.name"
                       placeholder="Наименование" required>
                <div ng-messages="typeOfStoragePlace.typeOfStoragePlaceName.$error" ng-messages-multiple
                     ng-show="!typeOfStoragePlace.typeOfStoragePlaceName.$pristine">
                    <div ng-message="required" class="help-block">Укажите наименование</div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok(typeOfStoragePlaceNewEdit)"
                ng-disabled="typeOfStoragePlace.$invalid">Сохранить
        </button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Отмена</button>
    </div>
</script>

<script type="text/ng-template" id="typeOfStoragePlaceDeleteView.html">
    <div class="modal-header" ng-model="typeOfStoragePlaceNewEdit">
        <h3 class="modal-title">Вы действительно хотите удалить <span style="color: red;">{{typeOfStoragePlaceNewEdit.name}}</span>?
        </h3>
    </div>
    <div class="modal-footer" ng-model="typeOfStoragePlaceNewEdit">
        <button class="btn btn-primary" type="button" ng-click="ok(typeOfStoragePlaceNewEdit.id)">Да</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Нет</button>
    </div>
</script>